*{
margin: 0;
padding: 0;
}

@font-face {
    font-family: "OFLGloudyStMTT";
    src: url(/brollopsgruppen/fonts/OFLGoudyStMTT.ttf) format("truetype");
}

body{
	
	font-family: "OFLGloudyStMTT";
	font-size: 0.8em;
	color: #2E2D2A;
	min-width: 800px;
	max-width: 1300px;
}
a{
	font-family: "OFLGloudyStMTT";
	text-decoration: none;
	color: #2E2D2A;
	font-size: 1em;
	font-weight: bold;

}

.logotyp{
	display: block;
	width: 662px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	z-index: 10;
}

.backgr{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#logout{
	
	position: absolute;
	top: 12px;
	right: 100px;	
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	height: 1.6em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFD249), to(#DEAA21));
	background: -webkit-linear-gradient(top, #FFD249, #DEAA21);
	background: -moz-linear-gradient(top, #FFD249, #DEAA21);
	background: -ms-linear-gradient(top, #FFD249, #DEAA21);
	background: -o-linear-gradient(top, #FFD249, #DEAA21);
	-moz-border-radius: 5px; 
	-webkit-border-radius:5px; 
}

#logout a{
	text-decoration: none;
}
#logout:hover{	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DEAA21), to(#FFD249));
	background: -webkit-linear-gradient(top, #DEAA21, #FFD249);
	background: -moz-linear-gradient(top, #DEAA21, #FFD249);
	background: -ms-linear-gradient(top, #DEAA21, #FFD249);
	background: -o-linear-gradient(top, #DEAA21, #FFD249);
}

#login{
	float: right;
	padding: 10px;
	margin-top: -100px;
	width: 10em;
	margin-right: 1em;
}

/*
#login input[type=submit]{
	float: right;
}
*/

#admin_menu a{
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	list-style-type: none;
	
}

#admin_menu {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*#header { height:120px; position:relative;
background: transparent url(header_bkg.png) repeat-x scroll top center;}*/
#nav { 
	margin:0px; 
	padding-left: 100px; 
	position:absolute; 
	top: 130px; 
	display:block;
	margin-left: auto;
	margin-right: auto;
	color: #2E2D2A;
	padding-top: 20px;

}

#nav, li:first{
	margin-left: 5px;
}

#nav > li { 
	list-style-type:none; 
	float:left; 
	display:block; 
	margin:0px 10px; 
	position:relative; 
	padding:10px; 
	width:170px;
	font-weight: bold;
}

#nav > li:hover ul { 
	display:block; 
}

#nav > li:hover { 
  /* fallback */
  background-color: #1a82f7;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DEAA21), to(#FFD249));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #DEAA21, #FFD249);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #DEAA21, #FFD249);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #DEAA21, #FFD249);
  
   Opera 11.10+ 
  background: -o-linear-gradient(top, #DEAA21, #FFD249);

	-moz-border-radius: 5px; 
	-webkit-border-radius:5px; 
}

#nav li ul { 
	margin:0px; 
	padding:0px; 
	display:none;
}

#nav li ul li { 
	list-style-type:none; 
	margin:10px 0 0 0;
}

#nav li ul li a { 
	display:block; 
	padding:5px 10px; 
	color:#2E2D2A;
	text-decoration:none;
}

#nav li ul li:hover a {
	text-decoration: underline;
}

#nav li span { 
	cursor:pointer; 
	margin:0px 10px; 
	font-weight:bold; 
}

#admin_message{
	text-align: center;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}

#update_footer{
	position: absolute;
	bottom: 20px;
	left: 20%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	float: left;
	padding-top: 80px;
	vertical-align:text-bottom;
}

#update_footer textarea{
	margin-left: 10px;
	margin-right: 10px;
	height: 1.6em;
	vertical-align:text-bottom;
	border: 2px solid #cccccc;
	color: #2E2D2A;

}

#update_footer, input[type=submit]{
	color: #2E2D2A;
	height: 1.6em;
}

#create_question {
	margin-top: 50px;
}

.wrap {
	position:relative;
	margin:0 auto;
	min-width:800px;
	maw-width: 1600px;
}

.header, .footer {
	width:100%;
	float:left;
}

.footer {
	position:fixed;
	bottom:0;
	z-index:999999;
	text-align: center;
}
.footer_image{
	padding-bottom: 5px;
}
